* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.display-box input {
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 22%;
    height: 80px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.2);
    background: #444;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s ease-in-out;
}

form input.equal {
    width: 48%;
}

form input.operator {
    color: #33ffd8;
    background: #555;
}

form input:hover {
    background: #666;
}
